.prod_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.prod_card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
}

.prod_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.prod_price {
    font-size: 1.5rem;
    color: #2c3e50;
    font-weight: bold;
}

.total_bought {
    font-size: 15px;
    color: rgb(172, 40, 40);
}

.btn-cnt {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 20px;
    
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}
