.btn-cnt {
  display: flex;
  justify-content: center; /* Horizontally center the button */
  align-items: center; /* Vertically center the button */
  width: 100%; /* Ensure it spans the full width */
  height: 100px; /* Adjust height as needed, you can remove this if it conflicts with your layout */
  margin-top: 20px; /* Optional margin to add space above the button */
}
.item_h2{
  text-align: center;
  font-size: 60px;
}
.button-17 {
  display: inline-block; /* To ensure it doesn't take up full width */
  background-color: #5a4b4b31;
  border-radius: 24px;
  border: none;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 24px;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: auto; /* Make the width automatic to fit the text */
}

.button-17:hover {
  background-color: #5a4b4b31;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
}
